<div class="postcard">
    <div class="image-wrapper">
        <img *ngIf="showPlaceholderImage" class="postcard-image" src="assets/R.png"/>
        <div class="image-cropper" *ngIf="showPreview">
            <image-cropper [imageChangedEvent]="imgChangeEvt" [maintainAspectRatio]="true" [aspectRatio]="3 / 4"
                [resizeToWidth]="256" format="png" (imageCropped)="cropImg($event)" (imageLoaded)="imgLoad()"
                (cropperReady)="initCropper()" (loadImageFailed)="imgFailed()">
            </image-cropper>
        </div>
        <div class="image-preview">

            <button *ngIf="showPreview" (click)="hideImage()">I like it</button>
            <div>
                <h6 *ngIf="showPreview">Image Preview</h6>
                <img class="postcard-image" [src]="cropImgPreview" />
            </div>
        </div>
    </div>
    <div *ngIf="!showPreview" class="form">
        <input id="intro" class="input" tipe="text">
        <textarea id="wishes" class=" input" tipe="text"></textarea>
        <input id="regards" class="input" tipe="text">
        <input id="name" class="input" tipe="text">
    </div>
</div>
<input *ngIf="!showPreview"  class="button" type="file" (change)="onFileChange($event)" />