<nav class="nav" [class.active]="scrolled">
    <div class="container">
        <h1 class="logo"><a href="/index.html">Postcard generator</a></h1>
        <ul>
            <li><a href="#" class="selected">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>

<nav class="phone-navbar">
    <ul>
        <li class="active">
            <i class="bi bi-house-door-fill"></i>
            <p>Home</p>
        </li>
        <li>
            <i class="bi bi-info-circle-fill"></i>
            <p>About</p>
        </li>
        <li>
            <i class="bi bi-postcard-heart-fill"></i>
            <p>Services</p>
        </li>
        <li>
            <i class="bi bi-person-rolodex"></i>
            <p>Contact</p>
        </li>
    </ul>
</nav>